<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AirlineSystem</display-name>
	<servlet>
		<description>
		Airline Reservation Login System</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAndBook</display-name>
		<servlet-name>ViewAndBook</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.ViewAndBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightSearch</display-name>
		<servlet-name>FlightSearch</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.FlightSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		Flight Search Results Processor</description>
		<display-name>FlightSearchResults</display-name>
		<servlet-name>FlightSearchResults</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.FlightSearchResults</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransactionConfirmation</display-name>
		<servlet-name>TransactionConfirmation</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.TransactionConfirmation</servlet-class>
	</servlet>
	<servlet>
		<description>
		Query Booking History for Username</description>
		<display-name>BookingHistory</display-name>
		<servlet-name>BookingHistory</servlet-name>
		<servlet-class>shuman.airlineSystem.servlets.BookingHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndBook</servlet-name>
		<url-pattern>/ViewAndBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearchResults</servlet-name>
		<url-pattern>/FlightSearchResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionConfirmation</servlet-name>
		<url-pattern>/TransactionConfirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingHistory</servlet-name>
		<url-pattern>/BookingHistory</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
